

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/*End Reset */

#big-container { 
  background: url(images/birds.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-1;
}

body{
	margin:0 auto;
	text-align:center;
	font-family:'PT Sans', sans-serif;
	width:100%;
	background-color:#eee;
	top:10px;
}

header{
	height:680px;
}


#container{
	margin-top:50%;
}
#winter{
	font-size:4em;
	color:#707070;
	padding-bottom:10px;
	text-shadow: 2px 2px 0px #eee, 3px 3px 0px #707070;
	}
#next{
		color:#454545;
		font-size:1em;
		padding:5px;
}
a {
	text-decoration:none;
	color:gray;
	text-weight:bold;
}
#follow{
	margin:0 auto;
	display:block;
	margin-top:250px;
	font-size:.8em;
	width:80px;
	padding:8px;
	border:solid #4787a4 2px;

}
.network{
	width:10px;
}

#logo-wrapper{		
	position:relative;
}
#logo{
	position:fixed;
	z-index:0;
	top:275px;
	left:30%;
	width:350px;
	margin:0 auto;
	background-color:white;
	padding:40px;

}
#top-logo{
	padding-bottom:10px;
}
#name-logo{
	font-size:1.8em;
	font-family: 'Quattrocento', serif;
}

.name {
	font-family: 'Quattrocento', serif;
	font-size:1.5em;
	float:left;
	padding: 18px;
	color:black;
}
/* 	--------------------
	Sticky Headers (2) 
	--------------------
	#topnav = home pg header
	#topnav2 = separate pages 
			(reason: separate behaviors)
*/

/* Start "topnav" */
#main-content{
	position:relative;
	background-color:#eee;
	z-index:100;
	height:950px;
	padding-top:130px;
}
#topnav { 
	top:0;
	position:fixed;
	width:100%;
	height:60px;
	background-color:rgba(255,255,255,.98);
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
	display:none;
	z-index:110;
}


#topnav ul {  
	float:right;
    list-style:none;  
    padding:18px;  
}


#topnav li {  
    float:left;  
    display:block;  
    text-align:center;  
    position:relative;  
    padding: 12px 10px;     
}
#active{
	border-bottom:solid rgba(0,0,0,.6) 4px
}

#topnav li a:hover{
	color:#4787a4;
}


#topnav li a {   
    font-size:14px;  
    color: gray;  
    display:block;  
    outline:0;  
    text-decoration:none;  
}

#topnav li ul {
	display:none;
	position:absolute;
}

/* End "topnav" */

/* Start "topnav2" */

#topnav2 { 
	top:0;
	position:fixed;
	width:100%;
	height:60px;
	background-color:rgba(255,255,255,.98);
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
	z-index:1;
}
#topnav2 ul {  
	float:right;
    list-style:none;  
    padding:18px;  
}


#topnav2 li {  
    float:left;  
    display:block;  
    text-align:center;  
    position:relative;  
    padding: 12px 10px;     
}

#topnav2 li a:hover{
	color:#4787a4;
}


#topnav2 li a {   
    font-size:14px;  
    color: gray;  
    display:block;  
    outline:0;  
    text-decoration:none;  
}

#topnav2 li ul {
	display:none;
	position:absolute;
}
/* End "topnav2" */


#feature{
	clear:both;
}

#work{
	height:700px;
	width:85%;
	margin:0 auto;
	padding-top:20px;
}


#footer{
	clear:both;
	position:relative;
	background-color:black;
	height:110px;
	width:100%;
	bottom:0;
}
#copyright{
	font-family: 'Quattrocento', serif;
	color:white;
	float:left;
	padding:25px;
	padding-top:50px;
	letter-spacing:.75px;
	font-size:.8em;
}
#footer ul{
	float:right;
	padding:25px;
	padding-top:40px;
	padding-right:35px;
}
#footer ul li{
	float:left;
	display:block;
	padding:0 8px;

}
#footer ul li:hover{
	background-color:gray;
}

/* Common style grid */

.grid {
	margin: 0 auto;
	
	max-width: 1000px;
	list-style: none;
	text-align: center;
	height:600px;
	z-index:100;
	background-color:#eee;
}
.grid figure {
	position: relative;
	overflow: hidden;
	margin: 5px;
	text-align: center;
	cursor: pointer;
	display:inline-block;
}
.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height:200px;
	width:300px;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*---------------------------*/
/***** Lily Hover Effect *****/
/*---------------------------*/


figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 1;
	-webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
	transition: opacity 1.5s, transform 1.5s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
	-webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
	-webkit-filter: brightness(95%); 
	
}
.tint:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}



	
figure.effect-lily figcaption {
	text-align: left;
	padding:25px;
	padding-top:180px;
	position:absolute;
	right:10px;
	bottom:20px;
	/*background-color:rgba(0,0,0,.3);*/
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2{
		font-family: 'Quattrocento', serif;
		font-size:1.2em;
		color:white;
		-webkit-transform: translate3d(0,60px,0);
		transform: translate3d(0,60px,0);
}
figure.effect-lily p {
	font-size:.8em;
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
	padding-bottom:3px;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover h2{
	
	color:white;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	 -webkit-filter: none;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.65s;
	transition-duration: 0.65s;
}


/* Individual Project pages */

.project-view{
	background-color:#2f3437;
	height:7000px;
	padding-top:60px;
}
#project-social{
	display:none;
	float:right;
	position:fixed;
	width:30px;
	height:100px;
	top:100px;
	right:30px;
}
#project-social li{
	padding-bottom:15px;
	color:#1d262d;
}

/* Meet Beth page */

#meet-beth{
	height:1000px;
}
#beth-container{
	margin:0 auto;
	background-color:#eee;
	height:630px;
	width:85%;
	overflow:hidden;
	position:relative;
	top:150px;
}
#photos{
	margin-top:50px;
	float:left;
	width:30%;
}
#beth-about{
	margin-top:40px;
	float:right;
	width:70%;
	text-align:left;
}
#beth-about h2 {
	font-family: 'Quattrocento', serif;
	font-size:1.2em;
	margin-top:10px;
	margin-bottom:10px;
}
#beth-about p {
	font-size:.8em;
	margin-right:60px;
	padding-bottom:10px;
	line-height:18px;
}
#hire{
	display:none;
	float:right;
	position:fixed;
	width:97px;
	height:60px;
	top:60px;
	right:16px;
	background-color:#4787a4;
}
#hire p{
	line-height:18px;
	font-size:.8em;
	padding:10px;
	padding-top:15px;
	color:white;
}
#contact {
	font-size:.8em;
	padding-left:140px;
	padding-top:50px;
}
#email-phone li{
	color:gray;
	float:left;
	padding:10px;
}
#resume{
	clear:left;
	padding:10px;
	padding-left:120px;
	border-bottom:solid gray 2px;
	width:165px;
}
#resume a{
	font-size:1.2em;
	color:#4787a4;
	font-family: 'Quattrocento', serif;
}